{% extends 'stock_trackers/base.html' %}

{% block page_header %}
  <h4 class="mt-1">{{ stock }}</h3>
{% endblock page_header %}

{% block content %}
  <p>
    <a href= "{% url 'stock_trackers:new_entry' stock.id %}">Add new entry</a>
</p>

<ul>
{% for entry in entries %}
  <div class= "card mb-3">
    <h4 class= "card-header">
      {{ entry.date_added|date:'M d, Y H:i' }}
      <small><a href= "{% url 'stock_trackers:edit_entry' entry.id %}">edit entry</a></small>
    </h4>
    <div class= "card-body">
      {{ entry.text|linebreaks }}
    </div>
  </div>
  {% empty %}
    <p>There are no notes for this stock yet.</p>
  {% endfor %}

{% endblock content %}

